NODE_ENV=development
PORT=5000

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://c59990jhsed4r3jh4913r2k32011528ca14718f7beb97c899a4c4805316a:sk_R89uErMBZnq34ml84dV3e@db.prisma.io:5432/postgres?sslmode=require"

BETTER_AUTH_SECRET=aV53jXdhgjs783434gq912133Kd8hGaE66666NvUa

BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app

ACCESS_TOKEN_SECRET=accesssecret
REFRESH_TOKEN_SECRET=refreshsecret
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d

# akgg idyw rrju ekkr

EMAIL_PROVIDER=resend
RESEND_API_KEY=re_xxxxxxxxx
VERCEL_MAIL_API_URL=https://doctorly-server-zeta.vercel.app/api/internal/send-email
MAIL_SERVICE_SECRET=replace-with-a-long-random-secret
EMAIL_SENDER_SMTP_USER=your-email@gmail.com
EMAIL_SENDER_SMTP_PASS=your-app-password
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=Doctorly Healthcare <noreply@your-verified-domain.com>

# id
# <YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>

# secret
# <YOUR_GOOGLE_CLIENT_SECRET>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>

GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/callback/google

FRONTEND_URL=http://localhost:3000

# WebRTC TURN configuration for cellular 4G/5G carriers, Symmetric NATs, and firewalls:
METERED_DOMAIN=doctorly.metered.live
METERED_API_KEY=7e63da8fb027b43de4d0815825254a80dde1

CLOUDINARY_CLOUD_NAME=druergfereu3
CLOUDINARY_API_KEY=244457348675954966
CLOUDINARY_API_SECRET=yxX2gtW1jfb40387t432q4vyknCU

🔑 টেস্ট লগইন তথ্য (Test Credentials):
সবগুলো অ্যাকাউন্টের ডিফল্ট পাসওয়ার্ড: password123

রোল  	নাম	                ইমেইল	                 বিবরণ
Doctor	Dr. Tahmid Rahman	dr.tahmid@doctorly.com	কার্ডিওলজিস্ট (সিনিয়র কনসালটেন্ট)
Doctor	Dr. Nusrat Jahan	dr.nusrat@doctorly.com	গাইনোকোলজিস্ট
Doctor	Dr. Ariful Islam	dr.ariful@doctorly.com	নিউরোলজিস্ট
Doctor	Dr. Farhana Akter	dr.farhana@doctorly.com 	শিশুরোগ বিশেষজ্ঞ
Patient	Tanvir Ahmed	tanvir.patient@gmail.com	রোগী (রয়েছে প্রেসক্রিপশন ও অ্যাপয়েন্টমেন্ট)
Patient	Sadia Sultana	sadia.patient@gmail.com	রোগী
Patient	Mahmudul Hasan	mahmudul.patient@gmail.com	রোগী (আনপেইড অ্যাপয়েন্টমেন্ট টেস্টের জন্য)
Admin	System Admin	admin@doctorly.com	অ্যাডমিন ড্যাশবোর্ড
